script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
script(type='text/javascript', src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
script(type='text/javascript', src='/js/bootstrap.min.js')
script.
    $(document).ready(function() {
        $('#pickle').DataTable();
    });
    function ViewDetails (customerId) {
        alert(customerId);
    }

    function ViewCustomer (modalId) {
        console.log('#' + modalId)
        //- $('#modal_6004492ec4a4eb5828de9548').modal({
        //-     show: 'true'
        //- });
        $('#' + modalId).modal({
            show: 'true'
        });
    }

    function VerifyCustomer (customerId) {
        $.ajax({
            url: "/admin/verifyCustomer/" + customerId,
            type: 'PUT',
            success: function(data) {
                $('#statusText').text('Status: Verified');
            }
        });
    }
    $(".modal-wide").on("show.bs.modal", function() {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });

    $('#submitBtn').on('click', function(event) {
        event.preventDefault();
        $.ajax({
            url: '/api/auth/login',
            data: {
                Email: $('#Email').val(),
                Password: $('#Password').val(),
            },
            error: function() {
                $('#info').html('<p>An error has occurred</p>');
            },
            dataType: 'jsonp',
            statusCode: {
                200: () => {
                    window.location.href = '/';
                },
                404: () => {
                    alert( "page not found" );
                }
            },
            success: function(data) {
            },
            type: 'POST'
        });
    });