doctype html
html(lang='en')
  include partials/header.pug
  body
    include partials/navbar.pug
    .container
      .row
        .span8.offset2
          .hero-unit
            h3 TrueSign
            p Landing Page

include ./partials/scripts
