doctype html
html(lang='en')
  include partials/header.pug
  body
    include partials/navbar.pug
    .container-fluid
      .row-fluid
        .span8.offset2
          .hero-unit
            h3 Login
            block content
                //- div.text-center
                form
                    fieldset
                        legend Login with the email and password used to register your account.
                        .form-group
                            label(for='exampleInputEmail1') Email address
                            input#Email.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
                        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                        .form-group
                            label(for='exampleInputPassword1') Password
                            input#Password.form-control(type='password', placeholder='Password')
                        button#submitBtn.btn.btn-primary(type='submit') Submit


include ./partials/scripts
